name: Continuous Integration 

on:
  pull_request:
  schedule:
    - corn: "0 0 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: pip install -e ".[dev,docs]"
      - name: Run Tox
        run: tox -e py